<section layout="column" class="samples-list" flex>

    <md-toolbar class="md-primary page-title">
        <div flex class="md-toolbar-tools" layout="row" layout-align="start center">
            <h2>Samples ({{ $ctrl.samples.length }})</h2>
        </div>
    </md-toolbar>

    <md-toolbar class="list-tools">
        <div flex layout="row" layout-align="start center">
            <div class="search-group">
                <md-input-container>
                    <label>Created By</label>
                    <input type="text"
                           ng-model="$ctrl.searchTerm"
                           ng-keyup="$ctrl.onKeyUp($event)" />
                </md-input-container>
                <md-button class="md-flat md-mini" aria-label="Search Samples" ng-click="$ctrl.fetchFilteredResults()">
                    <md-icon md-font-icon="zmdi zmdi-search"></md-icon>
                </md-button>
            </div>

            <filter-menu label="Status"
                           id-key="statusId"
                           items="$ctrl.statuses"
                           on-item-select="$ctrl.onFilterSelect(item, type)"
                           type="status"
                           value-key="status1">
            </filter-menu>
        </div>
    </md-toolbar>
    <div class="sort-bar" flex layout="row" layout-align="start center">
        <div ng-repeat="sortItem in $ctrl.sortItems"
             class="cell sort-item"
             ng-class="sortItem.value">

            <md-button aria-label="sort"
                       ng-click="$ctrl.sortList(sortItem)"
                       ng-class="{ 'active': sortItem.value === $ctrl.currentSortItem.value }">
                <span>{{ sortItem.label }}</span>
                <i class="zmdi zmdi-caret-down"
                   ng-show="sortItem.value === $ctrl.currentSortItem.value && $ctrl.currentSortItem.isDescending"></i>
                <i class="zmdi zmdi-caret-up"
                   ng-hide="sortItem.value === $ctrl.currentSortItem.value && $ctrl.currentSortItem.isDescending"></i>
            </md-button>
        </div>
    </div>
    <md-list class="item-list" flex>
        <md-list-item class="item"
                      ng-repeat="sample in $ctrl.samples | filter: $ctrl.filter"
                      ng-class="{'is-edit': sample.isEdit}"
                      layout="row"
                      flex>
            <samples-list-item item="sample" flex></samples-list-item>
        </md-list-item>
    </md-list>
</section>