<md-dialog aria-label="Add Sample">
    <md-toolbar class="md-primary page-title">
        <div flex class="md-toolbar-tools" layout="row" layout-align="space-between center">
            <h2>Add Sample</h2>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-font-icon="zmdi zmdi-close" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content>
        <p>content.</p>
    </md-dialog-content>

    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button ng-click="cancel()">Cancel</md-button>
        <md-button ng-click="save()">Add Sample</md-button>
    </md-dialog-actions>
</md-dialog>